/* IMPORTS */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hind/v11/5aU19_a8oxmIfJpbERySiA.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hind/v11/5aU19_a8oxmIfNJdERySiA.ttf) format('truetype');
}
/* /IMPORTS */
/* RESET */
html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/* /RESET */
/* MIXINS */
/* /MIXINS */
/* VARIABLES */
/* /VARIABLES */
/* IMPRESS */
.fallback-message {
  width: 50vw;
  color: #fff;
  padding: 1em;
  margin: 2em auto;
  border: 1px solid #222;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #900;
}
.impress-supported .fallback-message {
  display: none;
}
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 48px;
}
.impress-enabled {
  pointer-events: none;
}
.impress-enabled .step {
  margin: 0;
  -webkit-opacity: 0.05;
  -moz-opacity: 0.05;
  opacity: 0.05;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
}
.impress-enabled .step.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.impress-enabled #impress,
.impress-enabled #impress-toolbar,
.impress-enabled #impress-console-button {
  pointer-events: auto;
}
.impress-enabled #impress-toolbar {
  position: fixed;
  right: 1px;
  bottom: 1px;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.impress-enabled #impress-toolbar span {
  margin-right: 10px;
}
.impress-mouse-timeout {
  cursor: none;
}
.impress-mouse-timeout #impress-toolbar {
  display: none;
}
#overview {
  display: none;
}
.impress-on-overview .step {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  cursor: pointer;
}
.quote {
  display: block;
  width: 900px;
  height: 700px;
  padding: 40px 60px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #222;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  line-height: 1.2em;
}
.quote q,
.quote blockquote {
  color: #036;
  display: block;
  text-transform: none;
  font-size: 50px;
  line-height: 1.2em;
  margin-top: 100px;
}
.quote q.smaller,
.quote blockquote.smaller {
  font-size: 25px;
}
.quote q strong,
.quote blockquote strong {
  white-space: nowrap;
}
.quote q footer,
.quote blockquote footer {
  font-style: italic;
  text-align: right;
  display: block;
}
.quote q footer:before,
.quote blockquote footer:before {
  content: "- ";
  line-height: 2em;
}
.quote blockquote {
  margin-top: 0;
  font-size: 40px;
}
/* /IMPRESS */
/* TEXT */
body {
  font-family: "Hind", arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 500;
}
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #000;
  letter-spacing: 0.25em;
}
a {
  color: #036;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
a:hover,
a:focus {
  color: #000;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
/* /TEXT */
/* GENERAL */
body {
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
  background: -webkit-linear-gradient(top, #fff, #ccc);
  background: -moz-linear-gradient(top, #fff, #ccc);
  background: -ms-linear-gradient(top, #fff, #ccc);
  background: -o-linear-gradient(top, #fff, #ccc);
}
/* /GENERAL */
/* SPECIFIC */
.hidden {
  display: none;
}
.title {
  padding: 0;
}
.title header {
  font-size: 64px;
  position: absolute;
  top: -0.5em;
  left: 1.5em;
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
}
.title h1 {
  font-size: 130px;
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  white-space: nowrap;
}
.title footer {
  font-size: 28px;
}
.big,
.tiny {
  text-align: center;
}
.big {
  width: 600px;
  font-size: 60px;
  line-height: 1;
}
.big strong,
.big b {
  display: block;
  font-size: 120px;
}
.big span {
  font-size: 70px;
}
.tiny {
  width: 500px;
  text-transform: lowercase;
}
/* /SPECIFIC */
/* EFFECTS */
.present .shift,
.present .spin,
.present .size {
  display: inline-block;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.present .shift {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.present .spin {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}
.present .size {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.present .wait.short {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.present .wait.medium {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.present .wait.long {
  -webkit-transition-delay: 0.75s;
  -moz-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  transition-delay: 0.75s;
}
/* /EFFECTS */
